.cart-collaterals {
    display: flex !important;
    flex-direction: column-reverse;
}

.cart_totals {
    max-width: 40%;
    min-width: 500px;
    margin-right: 0;
    margin-left: auto;
}
.ysg-product-brands-section{}
.all-brands{
   
}